<h1>Check out all these sweet bands!</h1>
  <table>
    <% @bands.each do |band|%>
      <tr>
        <td><a href="<%= band_url(band)%>"><%= band.name %></a></td>
        <td><a href="<%= edit_band_url(band )%>">Edit</a></td>
        <td><%= button_to "delete",
        {:controller => :bands, :action => 'destroy', :id => band.id },
         :method => :delete %></td>
         <td>Added <%= time_ago_in_words(band.created_at) %> ago.</td>
      </tr>
    <% end %>
  </table>
